<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="actorNtr" class="com.stackroute.domain.Actor">
        <property name="name" value="JrNTR"></property>
        <property name="age" value="30"></property>
        <property name="gender" value="male"></property>
    </bean>

    <bean id="movieRRR" class="com.stackroute.domain.Movie">
        <property name="Actor" ref="actorNtr"></property>
    </bean>


</beans>